body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #2c3e50;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:20px;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
color: #3498db;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    min-height: 60vh;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
}

/* Estilos para la Galería Dinámica */
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1rem;
    margin-top: 20px;
}

.galeria-grid img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}